.hero {
  border: solid 2px;
  text-align: center;

  /* &__box {
  } */
  &__text {
    color: rgb(126, 0, 78);
  }
  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px rgb(34, 10, 10);
  }
}
