html {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: fantasy, "Helvetica Neue", sans-serif;
  background-image: url("../images/heartBackground.png");
  background-position: center;
  background-size: cover;

  @media all and (max-width: 320px) {
    background-color: aquamarine;
    background-size: contain;
  }
}
