body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url("../images/heartBackground.png");
  background-position: center;
  background-size: cover;

  @media all and (max-width: 500px) {
    background-color: aquamarine;
    background-size: contain;
  }
}
