.section {
  /* border: solid 2px; */
  text-align: center;
  &__box {
    background-color: rgba(195, 233, 138, 0.425);
  }
  &__title {
    color: black;
  }
  &__text {
    color: rgb(126, 0, 78);
  }
  &__list {
    list-style: none;
  }
}

.proyectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__itemPro {
  }
  &__imagePro {
    width: 300px;
    height: 200px;
    border: solid 5px rgb(34, 10, 10);
  }
  &__titlePro {
  }
  &__descriptPro {
  }
  &__datePro {
  }
}
