//colors
$color-darkPurple: rgb(65, 5, 41);
$color-eggplant: #49274a;
$color-posy: #813772;
$color-fuschia: #a239ca;
$color-grape: #94618e;
$color-grapeOpacity: #91788ea1;
$color-jewel: #4717f6;
$color-jewelOpacity: #4717f663;
$color-black: #000000;
$color-shell: #f8eee7;
$color-shellOpacity: #f8eee7c4;
$color-forest: #015249;
$color-green: #3cc47c;
$color-marine: #57bc90;
$color-mint: #b4dbc0;
$color-mintOpacity: #b4dbc083;
$color-oxblood: #76323f;
