.footer {
  border: solid 2px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  background-color: $color-posy;
  &__copyRight {
    color: $color-shell;
    font-size: 12px;
  }
}
.footerNav {
  padding: 0;
  height: 40px;
}
.footerNavList {
  display: inline-flex;
  justify-content: center;
  padding: 0;

  &__item {
    list-style: none;
    padding: 0 10px;
  }
  &__link {
    text-decoration: none;
  }
  &__icon {
    color: $color-forest;
    padding: 2px;
    background-color: $color-mint;
  }
}
