.header {
  border: solid 2px;
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: $color-posy;
}
.nav {
  /* background-color: antiquewhite; */
}
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media all and (max-width: 320px) {
    flex-wrap: wrap;
  }
  &__item {
    list-style: none;
  }
  &__link {
    margin: 15px;
    text-decoration: none;
    color: $color-shell;
    @media all and (max-width: 320px) {
      margin: 5px;
      flex-wrap: wrap;
    }
  }
}
