.header {
  border: solid 2px;
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: $color-posy;
}
.nav {
}
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  @media all and (max-width: 450px) {
    flex-wrap: wrap;
  }
  &__item {
    list-style: none;
    padding: 5px;
  }
  &__link {
    margin: 0 15px;
    text-decoration: none;
    color: $color-shell;
    cursor: pointer;
    &:hover {
      color: $color-mint;
    }
    @media all and (max-width: 450px) {
      margin: 10px 10px;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}
