.hero {
  text-align: center;
  margin-top: 90px;
  @media all and (max-width: 750px) {
    margin-top: 100px;
  }

  &__boxHero {
    margin: 0;
  }
  &__titleHero {
    color: $color-darkPurple;
    font-size: 45px;
    letter-spacing: 5px;
    animation-name: appear;
    animation-duration: 2s;
    @keyframes appear {
      0% {
        opacity: 0.5;
        font-size: 35px;
      }
      50% {
        opacity: 0.75;
        font-size: 40px;
      }
      100% {
        opacity: 1;
        font-size: 45px;
      }
    }

    @media all and (max-width: 396px) {
      font-size: 25px;
      animation: none;
    }
    @media all and (max-width: 750px) {
      background-color: $color-shell;
    }
  }
  &__textHero {
    margin: 0;
    color: $color-darkPurple;
    font-size: 30px;
    animation-name: boost;
    animation-duration: 2s;
    @keyframes boost {
      0% {
        opacity: 0.5;
        font-size: 25px;
      }
      50% {
        opacity: 0.75;
        font-size: 35px;
      }
      100% {
        opacity: 1;
        font-size: 30px;
      }
    }
    @media all and (max-width: 320px) {
      font-size: 16px;
    }
  }
  &__imageHero {
    margin: 5px auto 10px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 5px $color-darkPurple;
    animation-name: pulse;
    animation-duration: 2s;
    @keyframes pulse {
      0% {
        transform: scale(0.5);
      }

      50% {
        transform: scale(1.25);
      }

      100% {
        transform: scale(1);
      }
    }
    @media all and (max-width: 320px) {
      width: 150px;
      height: 150px;
    }
  }
}
