.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &__itemPro {
    margin: 10px;
  }
  &__imagePro {
    width: 300px;
    height: 200px;
    border: solid 5px rgb(34, 10, 10);
  }
  &__titlePro {
  }
  &__descriptPro {
  }
  &__datePro {
  }
}
