.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $color-grapeOpacity;
  margin-bottom: 65px;

  &__imageProDet {
    margin: 83px auto 10px;
    width: 450px;
    height: 250px;
    border: solid 5px $color-darkPurple;
    @media all and (max-width: 460px) {
      margin: 130px auto 10px auto;
      width: 250px;
      height: 150px;
    }
  }
  &__titleProDet {
    margin: 5px auto;
    color: $color-darkPurple;
    background-color: $color-shell;
    border: solid 1px $color-darkPurple;
    border-radius: 35%;
    padding: 3px;
    font-size: 20px;
  }
  &__descriptProDet {
    margin: 5px auto;
    color: $color-darkPurple;
    @media all and (max-width: 460px) {
      font-size: 16px;
    }
  }
  &__dateProDet {
    margin: 0 auto;
    color: $color-darkPurple;
    font-size: 16px;
    @media all and (max-width: 460px) {
      font-size: 10px;
    }
  }
  &__linkProDet {
    margin: 0 auto;
    color: $color-jewel;
    background-color: $color-mintOpacity;
    font-size: 14px;
    &:hover {
      color: $color-forest;
      border-radius: 25%;
    }
    @media all and (max-width: 460px) {
      font-size: 10px;
    }
  }
  &__backButton {
    margin: 25px auto 20px auto;
    @media all and (max-width: 460px) {
      margin: 5px auto 20px auto;
    }
  }
  &__btnText {
    color: $color-mint;
    background-color: $color-darkPurple;
    cursor: pointer;
    &:hover {
      background-color: $color-jewel;
    }
  }
}
.fa-hand-point-left {
  color: $color-mint;
  cursor: pointer;
}
