.section {
  margin: 80px 20px 80px 20px;
  text-align: center;
  &__box {
    background-color: $color-mintOpacity;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &__title {
    color: $color-darkPurple;
    text-transform: uppercase;
  }
  &__text {
    color: $color-darkPurple;
    margin: 20px 40px;
    @media all and (max-width: 460px) {
      font-size: 16px;
    }
  }
  &__list {
    list-style: none;
  }
  &__link {
    &:hover {
      color: $color-oxblood;
      background-color: $color-jewelOpacity;
      border-radius: 25%;
    }
  }
}
